html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.opacity {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.opacity.opa {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 8;
    overflow-x: hidden;
}
body.opa {
    overflow-y: hidden;
}
header {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9;
    transition: .4s;
}
.header {
    height: 80px;
}
.header .logo {
    width: 132px;
    height: 40px;
    display: inline-block;
    margin-top: 15px;
}
.header .logo img {
    fill: #fff;
    width: 132px;
    height: 40px;
}
.navigation {
    float: right;
}
.navigation ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-left: auto;
    align-items: center;
}
.navigation ul li {
    display: inline-block;
    position: relative;

}
.vertical_separator {
    display: inline-block;
    height: 16px;
    width: 1px;
    background-color: #fff;
    margin: auto 17px;
}.profile_btn {
    margin-left: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    font-weight: 700;
    outline: none;
    display: inline-block;
    margin-top: 20px;
}

.usericon {
 
    border: 2px solid #fff; /* اللون الأبيض للتناسق مع التصميم */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px; /* مسافة بين الأيقونة والنص */
    vertical-align: middle; /* لمحاذاة الأيقونة مع النص */
    text-align: center; /* محاذاة الأيقونة إلى الوسط */
}

.usericon svg {
    fill: #fff; /* اللون الأبيض للأيقونة */
    width: 24px;
    height: 24px;
    margin-top: 8px; /* لتحريك الأيقونة لمنتصف الدائرة */
}

.profile-title {
    display: inline-block;
    color: #fff; /* اللون الأبيض للنص */
    vertical-align: middle; /* لمحاذاة النص مع الأيقونة */
}

.profile-title span {
    margin-right: 6px; /* مسافة بين النص والسهم */
}

.profile-title svg {
    fill: #fff; /* اللون الأبيض للسهم */
    width: 12px;
    height: 12px;
    vertical-align: middle; /* لمحاذاة السهم مع النص */
}

.profile_btn:hover .usericon, 
.profile_btn:hover .profile-title span, 
.profile_btn:hover .profile-title svg {
    fill: #1ed760; /* تغيير اللون عند التحويم */
    color: #1ed760; /* اللون الأخضر عند التحويم */
    border-color: #1ed760; /* تغيير لون الإطار عند التحويم */
}

.profile_btn:hover .profile-title span {
    color: #1ed760;
}
.profile_btn:hover .usericon {
    border-color: #1ed760;
}
.profile_btn:hover .usericon svg,
.profile_btn:hover .profile-title svg {
    fill: #1ed760;
}
.profileMenu {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    right: -11px;
}
.profileMenu.active {
    display: block !important;
}
.profile-title svg.transform {
    transform: rotateZ(180deg);
}
.profileMenu ul {
    margin: 2px 0 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    display: block;
    align-items: baseline;
    min-width: 160px;
}
.profileMenu ul:before {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    right: 7px;
    border-bottom: 16px solid #fff;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -12px;
}
.profileMenu ul li {
    padding: 0;
    display: block;
    letter-spacing: 0;
}
.profileMenu ul li a {
    padding: 4px 16px 3px;
    display: block;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-align: left;
}
.profileMenu ul li a:hover {
    color: #1ed760;
}
.home_main {
    position: relative;
    overflow: hidden; /* يجبر الحاوية على احتواء المحتوى */
    margin-top: -80px;

     /* أو حسب احتياجك */
}  /* لمركزية المحتوى */
.hm_gradient-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #509BF5;
    background: linear-gradient(90deg, #c074b2, #8679d0, #8ab5e8);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.hm_gradient-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(transparent, #000);
}
.hm_cont {
    margin-top: 235px;
    position: relative;
}
.home_text {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}
.green_btn {
    display: inline-block;
    margin: 32px 0;
    font-size: 16px;
    line-height: 1;
    border-radius: 50px;
    padding: 19px 56px 21px;
    color: #fff;
    background-color: #1DB954;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    cursor: pointer;
}
.green_btn:hover {
    background-color: #1ed760;
}
.home_cards {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding-left: 10px;
    padding-right: 10px;
}
.hm_card {
    width: 30%;
    float: left;
    margin: 0 16px 16px 0;
    position: relative;
    cursor: pointer;
    
}
.box img {
    width: 100%;
    height: 233px;
    object-fit: cover;
}
.box_details {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.play-icon {
    width: 25px;
    height: 25px;
    margin: 80px auto 0;
    
}
.hm_card:hover .box_details {
    opacity: 1;
}
.arrow-scroll-down {
    width: 32px;
    height: 43px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 120px;
}
.arrow-scroll-down svg {
    fill: #fff;
    width: 32px;
    height: 43px;
    position: relative;
}

.last_listen {
    background-color: #1E3264;
    background-image: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);
    text-align: center;
    
}

.last_listen .container {
    padding-top: 60px;
    padding-bottom: 160px;
}

.last_listen .ll_row {
    display: block;
    overflow: hidden;
}

.last_listen .ll_card {
    width: 32%;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
    position: relative;
}

.last_listen .ll_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last_listen .ll_card .txt {
    position: relative;
    z-index: 3;
    text-align: left;
    padding: 10px;
}
.last_listen .ll_card .txt a {
   color: #1DB954;
}
.last_listen .ll_card .img {
    position: relative;
    z-index: 2;
    left: 150px;
    bottom: 30px;
}

.last_listen .bg_filt {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0.05;
}

.home_links {
    padding-top: 60px;
    padding-bottom: 230px;
}

.home_links .container.links {
    width: 100%;
}

.home_links .account_link,
.home_links .app_link,
.home_links .web_link {
    width: 31%;
    float: left;
    margin-right: 3.5%;
    display: block;
    box-sizing: border-box;
}

.home_links .account_link:last-child,
.home_links .app_link:last-child,
.home_links .web_link:last-child {
    margin-right: 0;
}
.home_links .account_link a,
.home_links .app_link a,
.home_links .web_link a {
    margin-top: auto;
}

.title-1 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: #000;
    font-family: circular-black, Helvetica, Arial, sans-serif;
}

.subtitle-1 {
    font-size: 24px;
    letter-spacing: -0.01em;
    font-weight: 900;
    line-height: 1.4;
    margin-top: 24px;
    margin-bottom: 12px;
    color: #000;
    font-family: circular-black, Helvetica, Arial, sans-serif;
}

.parag-1 {
    margin: .5em 0 1em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.a_link {
    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    color: #1DB954;
    text-decoration: none;
    transition-duration: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: normal;
}

.a_link:hover,
.a_link:focus {
    color: #1ed760;
    text-decoration: none;
}

.navigation-link {
    padding: 0px 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.navigation-link:hover {
    color: #1ed760;
}

.hm_cont small {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
}

.hm_cont h1,
.premium-head h1 {
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.15;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: circular-black, Helvetica, Arial, sans-serif;
}

.hm_cont h3 {
    font-size: 24px;
    letter-spacing: -0.01em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    line-height: 1.4;
    color: #fff;
    font-family: circular-black, Helvetica, Arial, sans-serif;
}

.hm_card .box_details h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0 0;
    letter-spacing: -0.015em;
    color: #fff;
}

.last_listen h1 {
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: #fff;
    font-family: circular-black, Helvetica, Arial, sans-serif;
    text-align: center;
}

.last_listen .ll_card span h5 {
    background-color: rgba(30, 50, 100, 0.25);
    padding: 4px 16px;
    display: inline-block;
    margin: 16px 0 16px -7px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
}

.last_listen .ll_card span h2 {
    margin: 0px;
    margin-left: -25px;
    width: 125%;
    position: relative;
    z-index: 2;
    background-color: #1E3264;
    padding: 12px 40px;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #fff;
    font-family: circular-black, Helvetica, Arial, sans-serif;
}

.last_listen .ll_card span a {
    display: inline-block;
    color: #1ed760;
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
    margin-left: 22px;
    margin-top: 20px;
    letter-spacing: 1px;
}

footer {
    padding: 80px 0 50px;
    background-color: #000;
}

footer .logo img {
    width: 100%;
    max-width: 131px;
    height: 39px;
    fill: #fff;
    display: block;
    margin: 0 auto;
}

footer .footer-nav {
    width: 100%;
    margin-top: 40px;
}

.footer-nav .fn-left,
.footer-nav .fn-mid,
.footer-nav .fn-right {
    width: 31%;
    float: left;
    margin-right: 3.5%;
}

.footer-nav .fn-left:last-child,
.footer-nav .fn-mid:last-child,
.footer-nav .fn-right:last-child {
    margin-right: 0;
}

.footer-nav p {
    margin: 20px 0;
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-family: circular-black, Helvetica, Arial, sans-serif;
}

.footer-nav div a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 0 15px;
    color: #fff;
}

.footer-nav div a:hover {
    color: #1ed760;
}

footer .footer_bot {
    display: block;
    margin-top: 50px;
    text-align: center;
}

footer .footer_bot ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
}

footer .footer_bot ul li {
    display: inline;
    margin-right: 15px;
}

footer .footer_bot ul li a {
    font-size: 12px;
    color: #919496;
    padding: 1em 0;
}

footer .footer_bot ul li a:hover {
    color: #1ed760;
}

footer .footer_bot span {
    display: block;
    font-size: 12px;
    color: #919496;
    margin-top: 10px;
}

footer .social {
    text-align: center;
    margin-top: 30px;
}

footer .social ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
}

footer .social ul li {
    display: inline-block;
    margin: 0 10px;
}

footer .social ul li a {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #222326;
    display: inline-block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
footer .social ul li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
footer .tr {
    margin-top: 20px;
    text-align: right;
}

footer .tr a {
    padding: 0;
    font-size: 10px;
    color: #919496;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

footer .tr a img {
    height: 18px;
    margin-left: 10px;
}

footer .tr a:hover {
    color: #1ed760;
}

/* Animations */
.opacity_anim {
    animation: opacity_anim 0.5s ease-out both;
}

.opacity_anim-1d {
    animation: opacity_anim 0.5s ease-out both;
    animation-delay: 0.2s;
}

.opacity_anim-2d {
    animation: opacity_anim 0.5s ease-out both;
    animation-delay: 0.5s;
}

@keyframes opacity_anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-top {
    animation: slide-top 1s alternate infinite;
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(7px);
    }
}

body {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}
.container {
    width: 970px;
}
    .Everywhere .platform_name,
    .Everywhere .platform_link{
        display: block;
    }
    .top-solution-inner br{
        display: none;
    }
    .premium-head .container {
        padding: 72px 15px;
    }

.ll_card_wrapper {
    display: inline-block;
    width: 45%; /* يمكنك ضبط النسبة بناءً على المساحة المتاحة */
    margin-right: 5%;
    vertical-align: top;
}

.ll_card_wrapper:last-child {
    margin-right: 0;
}

.ll_card {
    position: relative;
}

.ll_card img {
    width: 100%;
    height: auto;
    display: block;
}

.ll_card .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.ll_card .txt h5, .ll_card .txt h2, .ll_card .txt a {
    margin: 0;
    padding: 5px 0;
}


.last_listen .ll_card {
    width: 48%; /* 48% لكل كرت لضمان وجود مسافة بين الكروت */
    margin-right: 1%;
    float: left;
    position: relative;
}

.last_listen .ll_card:nth-child(2) {
    margin-right: 0; /* إزالة الهامش الأيمن للكرت الأخير */
}


